<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column 
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
        </div>
        -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">MENU</h5>
            <hr>
            <ul class="list-unstyled">
              <li><a routerLink="/who-we-are">Who We Are</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/our-success">Our Success</a></li>
              <li><a routerLink="/mission">Mission</a></li>
              <li><a routerLink="/prenotation">Prenotation</a></li>
              <li><a routerLink="/news/">News</a></li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">SERVICES</h5>
            <hr>
            <ul class="list-unstyled">
              <li><a routerLink="/services#logistic">Logistic</a></li>
              <li><a routerLink="/services#administration">Administration</a></li>
              <li><a routerLink="/services#cleaning">Cleaning</a></li>
              <li><a routerLink="/services#facilityManagement">Facility Management</a></li>
              <li><a routerLink="/services#informaticsService">Informatic Services</a></li>
              <li><a routerLink="/services#otherService">Other Services</a></li>
              <li><a routerLink="/services#restaurants">Restaurants</a></li>
              <li><a routerLink="/services#rent">Rent</a></li>
              <li><a routerLink="/services#bookingLoadingUnloading">Booking Loading Unloading Goods</a></li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Logistic S.p.A.</h5>
            <hr>
            Via beledere,  1<br>
            12345<br>
            Modena (MO)<br>
            Italia
            
          </div>

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">CONTACT</h5>
            <hr>
            tel. +39 02 123 456 78<br>
            fax +39 02 123 456 78<br>
            P. I.V.A. e C.F. 1234567890123456<br>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>© 2018 Copyright: International Logistic S.P.A.   |   <a href="#">T&amp;C </a>   |    <a href="#">Privacy Policy</a></p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

<!--
<footer id="main-footer">
				
  <div class="container">
    <div id="footer-widgets" class="clearfix">
      <div class="footer-widget">
        <div id="custom_html-2" class="widget_text fwidget et_pb_widget widget_custom_html">
          <h4 class="title">MENU</h4>
          <div class="textwidget custom-html-widget"><hr>
            <a href="/chi-siamo/">Chi siamo</a><br>
            <a href="/servizi/">Servizi</a><br>
            <a href="/casi-di-successo/">Casi di successo</a><br>
            <a href="/mission/">Mission</a><br>
            <a href="/prenotazione-scarichi/">Prenotazione scarichi</a><br>
            <a href="/news/">News</a>
          </div>
        </div> 
      </div> 
      <div class="footer-widget">
        <div id="custom_html-3" class="widget_text fwidget et_pb_widget widget_custom_html">
          <h4 class="title">SERVIZI</h4>
          <div class="textwidget custom-html-widget"><hr>
            <a href="/servizi/#logistica">Logistica</a>
            <br>
            <a href="/servizi/#amministrazione">Amministrazione</a><br>
            <a href="/servizi/#pulizia">Pulizia</a><br>
            <a href="/servizi/#ristorazione">Ristorazione</a><br>
            <a href="/servizi/#noleggio">Noleggio</a><br>
            <a href="/servizi/#facility-management">Facility Management</a><br>
            <a href="/servizi/#servizi-ausiliari">Servizi Ausiliari</a><br>
            <a href="/servizi/#servizi-it">Servizi It</a><br>
            <a href="/prenotazione-scarichi">Prenotazione Scarichi</a>
          </div>
        </div> 
      </div> 
      <div class="footer-widget">
        <div id="custom_html-4" class="widget_text fwidget et_pb_widget widget_custom_html">
          <h4 class="title">ILS S.P.A.</h4>
          <div class="textwidget custom-html-widget"><hr>
            Via Sirtori,  45/c - 45/d<br>
            20017<br>
            Passinara di Rho (MI)<br>
            Italia
          </div>
        </div> 
      </div> 
      <div class="footer-widget last">
        <div id="custom_html-5" class="widget_text fwidget et_pb_widget widget_custom_html">
          <h4 class="title">CONTATTI</h4>
          <div class="textwidget custom-html-widget"><hr>
            tel. +39 02 834 187 47<br>
            fax +39 02 834 187 48<br>
            P. I.V.A. e C.F. 05936020964<br>
            <a href="mailto:info@ils-spa.com">info@ils-spa.com</a>
          </div>
        </div> 
      </div> 	
    </div> 
  </div>
  
      
  <div id="footer-bottom">
    <div class="container clearfix">
      <div id="footer-info">
        <p>Copyright © 2018 International Logistic Services S.P.A.   |   <a href="#">T&amp;C </a>   |    <a href="#">Privacy Policy</a></p>
      </div>					
    </div>
  </div>
</footer>
-->