<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column 
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
        </div>
        -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">MENU</h5>
            <hr>
            <ul class="list-unstyled">
              <li><a routerLink="/who-we-are">{{ 'pages.who-we-are' | translate }}</a></li>
              <li><a routerLink="/services">{{ 'pages.services' | translate }}</a></li>
              <li><a routerLink="/our-success">{{ 'pages.our-success' | translate }}</a></li>
              <li><a routerLink="/mission">{{ 'pages.mission' | translate }}</a></li>
              <li><a routerLink="/prenotation">{{ 'pages.prenotation' | translate }}</a></li>
              <li><a routerLink="/news/">{{ 'pages.news' | translate }}</a></li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">{{ 'pages.services' | uppercase | translate }}</h5>
            <hr>
            <ul class="list-unstyled">
              <li><a routerLink="/services#logistic">{{ 'pages.logistic' | translate }}</a></li>
              <li><a routerLink="/services#administration">{{ 'pages.administration' | translate }}</a></li>
              <li><a routerLink="/services#cleaning">{{ 'pages.cleaning' | translate }}</a></li>
              <li><a routerLink="/services#facilityManagement">{{ 'pages.facilityManagement' | translate }}</a></li>
              <li><a routerLink="/services#informaticsService">{{ 'pages.informaticsService' | translate }}</a></li>
              <li><a routerLink="/services#otherService">{{ 'pages.otherServices' | translate }}</a></li>
              <li><a routerLink="/services#restaurants">{{ 'pages.restaurants' | translate }}</a></li>
              <li><a routerLink="/services#rent">{{ 'pages.rent' | translate }}</a></li>
              <li><a routerLink="/services#bookingLoadingUnloading">{{ 'pages.bookingLoadingUnloading' | translate }}</a></li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Logistic S.p.A.</h5>
            <hr>
            Via beledere,  1<br>
            12345<br>
            Modena (MO)<br>
            Italia
            
          </div>

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">{{ 'pages.contact' | uppercase | translate }}</h5>
            <hr>
            tel. +39 02 123 456 78<br>
            fax +39 02 123 456 78<br>
            P. I.V.A. e C.F. 1234567890123456<br>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>© 2018 Copyright: International Logistic S.P.A.  |   <a href="#">T&amp;C </a>  |    <a href="#">Privacy Policy</a></p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->