<navigation [sezione]="sezione"></navigation>

<div class="ui grid container">
    <div class="sixteen wide mobile six wide tablet four wide computer column">
        <div class="ui cards">
            <div class="ui card">
              CIAO

            </div>
        </div>
    </div>
    <div class="sixteen wide mobile ten wide tablet twelve wide computer column">
        <div class="ui cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">CIAO2</div>
                    <div class="description">
                        Descizione

                    </div>
                </div>
            </div>
        </div>
      </div>
</div>