<app-navigation [sezione]="sezione"></app-navigation>

<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
        </div>
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
        </div>
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-carousel-item>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->


<div class="container">
    
    <mat-card class="example-card" *ngFor="let item of arrayOne(6); let i = index;">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>

</div>

<section class="bg1-desktop">
    <div class="wrapper">
        <div class="centrato">
            <div class="text-banner">
                <h3>La soluzione migliore.<br>Pensata per voi.</h3>
                <p>LAVORIAMO AL VOSTRO FIANCO PER AIUTARVI A MANTENERE E INCREMENTARE LA VOSTRA COMPETITIVITÀ, ALL’INTERNO DI UN MERCATO GLOBALE SEMPRE PIÙ COMPLESSO.</p>
                <p>Che si tratti di logistica, logistica integrata, facility management, ristorazione o pulizie, per noi il punto di partenza è sempre lo stesso: voi. Basiamo il successo e l’efficienza sulla reale partnership con il nostro Cliente, che accompagniamo fino a destinazione con soluzioni innovative e completamente tailored, in grado di inserirsi in modo naturale all’interno di un ecosistema già esistente.</p>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <mat-card class="example-card" *ngFor="let item of arrayOne(9); let i = index;">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<section class="bg2-desktop">
    <div class="wrapper">
        <div class="centrato">
            <div class="text-banner">
                <h3>La soluzione migliore.<br>Pensata per voi.</h3>
                <p>LAVORIAMO AL VOSTRO FIANCO PER AIUTARVI A MANTENERE E INCREMENTARE LA VOSTRA COMPETITIVITÀ, ALL’INTERNO DI UN MERCATO GLOBALE SEMPRE PIÙ COMPLESSO.</p>
                <p>Che si tratti di logistica, logistica integrata, facility management, ristorazione o pulizie, per noi il punto di partenza è sempre lo stesso: voi. Basiamo il successo e l’efficienza sulla reale partnership con il nostro Cliente, che accompagniamo fino a destinazione con soluzioni innovative e completamente tailored, in grado di inserirsi in modo naturale all’interno di un ecosistema già esistente.</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
        <mat-card class="example-card" *ngFor="let item of arrayOne(9); let i = index;">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    
<app-footer></app-footer>