.background{
background: url("http://upload.wikimedia.org/wikipedia/commons/8/86/Jefferson_Park_in_Chicago.JPG") no-repeat top center fixed;
background-size: auto;
height: 300px;
width: 100%;
margin: 0;
padding: 0;
}
.example-card {
    max-width: 300px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
mat-card{
    margin: 10px;
    display: inline-block;
}