.background{
background: url("http://upload.wikimedia.org/wikipedia/commons/8/86/Jefferson_Park_in_Chicago.JPG") no-repeat top center fixed;
background-size: auto;
height: 300px;
width: 100%;
margin: 0;
padding: 0;
}