.container2.header{
    background: url("../../assets/img/ourSuccess/casi_banner.jpg") no-repeat top;
    height: 400px;
    padding-top: 100px;
}
.container2.type2 .grid-content-type2{
    min-height: 350px;
}
.container2.type2 .grid-content-type2 .grid2 p, .container2.type2 .grid-content-type2 .grid1 p{
    padding: 20px 0px 0px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
}

/* Mobile */
@media only screen and (max-width: 990px) {
    .padding100{
        padding:100px 0px;
    }
    .container2.type2 .grid-content-type2 img{
        max-width: 300px;
    }
}
/* Descktop */
@media only screen and (min-width: 990px) {
    .padding100{
        padding:100px 50px;
    }
    .container2.type2 .grid-content-type2 img{
        max-width: 500px;
    }
}