<app-navigation [sezione]="sezione"></app-navigation>
<div class="container2 header white">
    <h1 class="bolder center">{{'pages.our-success'| translate }}</h1>
</div>

<div class="container2 type2">
  <div class="centered grid-content-type2">
      <div class="grid1 quote normalBG">
          <h1 class="darkblue bolder">{{ 'ourSuccess.stripe1.title1' | translate }}</h1>
          <h1 class="orange bolder">{{ 'ourSuccess.stripe1.title2' | translate }}</h1>
      </div>
      <div class="grid2 padding100">
          <p [innerHTML]="'ourSuccess.stripe1.text1' | translate"></p>
      </div>
  </div>
</div>

<div class="container2 type2">
    <div class="centered grid-content-type2">
        <div class="grid1"><img src="{{ 'ourSuccess.stripe2.img' | translate }}" alt="{{ 'ourSuccess.stripe2.title1' | translate }}"></div>
        <div class="grid2">
            <h2 class="darkblue bolder">{{ 'ourSuccess.stripe2.title1' | translate }}</h2>
            <p [innerHTML]="'ourSuccess.stripe2.text1' | translate"></p>
        </div>
    </div>
</div>

<div class="container2 type2">
    <div class="centered grid-content-type2">
        <div class="grid1">
            <h2 class="darkblue bolder">{{ 'ourSuccess.stripe3.title1' | translate }}</h2>
            <p [innerHTML]="'ourSuccess.stripe3.text1' | translate"></p>
        </div>
        <div class="grid2">
            <img src="{{ 'ourSuccess.stripe3.img' | translate }}" alt="{{ 'ourSuccess.stripe3.title1' | translate }}">
        </div>
    </div>
</div>

<div class="container2 type2">
    <div class="centered grid-content-type2">
        <div class="grid1"><img src="{{ 'ourSuccess.stripe4.img' | translate }}" alt="{{ 'ourSuccess.stripe4.title1' | translate }}"></div>
        <div class="grid2">
            <h2 class="darkblue bolder">{{ 'ourSuccess.stripe4.title1' | translate }}</h2>
            <p [innerHTML]="'ourSuccess.stripe4.text1' | translate"></p>
        </div>
    </div>
</div>


<div class="container2 type2">
    <div class="centered grid-content-type2">
        <div class="grid1">
            <h2 class="darkblue bolder">{{ 'ourSuccess.stripe5.title1' | translate }}</h2>
            <p [innerHTML]="'ourSuccess.stripe5.text1' | translate"></p>
        </div>
        <div class="grid2">
            <img src="{{ 'ourSuccess.stripe5.img' | translate }}" alt="{{ 'ourSuccess.stripe5.title1' | translate }}">
        </div>
    </div>
</div>


<app-footer></app-footer>