mat-card{
    width: 200px;
    display: inline-block;
}

mat-card img{
    width: 150px;
    background-size: cover;
}

button{
    margin: 30px auto;
}

.container2.type3{
    background: url("../../assets/img/whoWeAre/chisiamo_storia.png") no-repeat top;
    background-size: cover;
    width:100%;
    min-height: 500px;
}

.container2.header{
    background: url("../../assets/img/whoWeAre/chisiamo_banner.jpg") no-repeat top;
    height: 400px;
    padding-top: 100px;
}

.container2.type4 {
    margin: 0px;
    text-align: center;
    background-color: #f7f7f7;
}

.container2.type4 .grid-content-type4 {
    min-height:300px;
}

/* Mobile */
@media only screen and (max-width: 990px) {

    .container2.type2 .grid-content-type2 .grid2{
        padding-top: 30px;
    }

    .container2.type3 .centered mdb-carousel mdb-carousel-item{
        padding-top: 150px;
    }

    .container .centered mat-card img{
        width:200px;
    }
    
    .container2.type4 .grid-content-type4 .grid2 p img{
        width: 350px;
    }

}
