<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-unique">
      <a class="navbar-brand" href="#" routerLink="/home">
        <img src="../../assets/img/logo.png" height="30" alt="{{ 'pages.companyName' | translate }}">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-6" aria-controls="navbarSupportedContent-6" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent-6">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="sezione=='who-we-are'?'active':''">
              <a class="nav-link waves-effect waves-light" href="#" routerLink="/who-we-are">{{ 'pages.who-we-are' | translate}}</a>
            </li>
            <li class="nav-item" [ngClass]="sezione=='services'?'active':''">
              <a class="nav-link waves-effect waves-light" href="#" routerLink="/services">{{ 'pages.services' | translate }}</a>
            </li>
            <li class="nav-item" [ngClass]="sezione=='our-success'?'active':''">
              <a class="nav-link waves-effect waves-light" href="#" routerLink="/our-success">{{ 'pages.our-success' | translate }}</a>
            </li>
            <li class="nav-item" [ngClass]="sezione=='mission'?'active':''">
              <a class="nav-link waves-effect waves-light" href="#" routerLink="/mission">{{ 'pages.mission' | translate }}</a>
            </li>
            <li class="nav-item" [ngClass]="sezione=='prenotation'?'active':''">
              <a class="nav-link waves-effect waves-light" href="#" routerLink="/prenotation">{{ 'pages.prenotation' | translate }}</a>
            </li>
            <li class="nav-item" [ngClass]="sezione=='contact'?'active':''">
              <a class="nav-link waves-effect waves-light" href="#" routerLink="/contact">{{ 'pages.contact' | translate }}</a>
            </li>
          </ul>
          
          <ul class="navbar-nav">
            <li class="nav-item" (click)="useLanguage('it')">
                <a class="nav-link waves-effect waves-light pointer">
                  <img src="../../assets/img/flags/flagIta.png" class="flag" alt="Ita">
                </a>
              </li>
              <li class="nav-item" (click)="useLanguage('en')">
                <a class="nav-link waves-effect waves-light pointer">
                  <img src="../../assets/img/flags/flagEng.png" class="flag" alt="Eng">
                </a>
              </li>
          </ul>
      </div>
    </nav>
  </div>
</div>




          <!--
            <div class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#logistic">{{ 'pages.logisticServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#administration">{{ 'pages.administrationServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#cleaning">{{ 'pages.cleaningServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#facilityManagement">{{ 'pages.facilityManagementServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#informatic">{{ 'pages.informaticsServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#auxiliary">{{ 'pages.otherServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#restaurants">{{ 'pages.restaurantsServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#rent">{{ 'pages.rentServices' | translate }}</a>
              <a class="dropdown-item waves-effect waves-light" href="#" routerLink="/services#loadunload">{{ 'pages.bookingLoadingUnloadingServices' | translate }}</a>
            </div>
          -->
        