.navigation{
    background: var(--menu-color);
    color: var( --white);
    text-align: center;
    width: 100%;
}
nav{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

nav.navbar ul.navbar-nav li a img.flag{
    width: 25px;
    height: 12px;
}

