/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
}

/* Colori */

:root {
    --menu-color: #043e5a;
    --main-bg-color: #e6e6e6;
    --red: #db2828;
    --orange: #f2711c;
    --green: #1ebc30;
    --blue: #2185d0;
    --purple: #a333c8;
    --white: #ffffff;
    --black: #000000;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

@media only screen and (max-width: 990px) {
    .desktop {
        display: none !important;
    }
    .mobile{
        display: block !important;
    }
}

@media only screen and (min-width: 991px) {
    .mobile{
        display: none !important;
    }
    .desktop {
        display: block !important;
    }
}

html, body { height: 100%; }
body {
    background-color: var(--main-bg-color); 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.clear{
    clear:both;
}
.pointer {
    cursor: pointer;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.container {
    margin: 70px auto 50px auto;
}

/* MD CARDS */
.example-card {
    max-width: 300px;
}



/* SEZIONE CON BACKGROUND FISSO */
section {
    /* Background image styling */
    background-repeat: no-repeat;
    background-size: cover;
    /* Reset stacking context */
    isolation: isolate;
    /* Must be set to correctly position .wrapper below */
    position: relative;
    /* Height not required. Can be left as auto */
    height: 450px;
    padding: 1em;
  }
  
.wrapper {
    /* Hides box (&:before) outside of section */
    clip: rect(auto auto auto auto);
    /* Clip works only on positions absolute or fixed */
    position: absolute; 
    /* Stretch to fill entire section */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper:before {
    content: " ";
    /* Basic styling */
    padding: 2em 3.5em;
    /* Blend with background */
    mix-blend-mode: darken;
}

.centrato {
    width: 90%;
    max-width: 1080px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.text-banner{
    color: var(--white);
    text-shadow: 1px 1px 15px rgba(0,0,0,0.61);
    text-align: left;
    font-weight: 700;
    font-style: italic;
}

.text-banner h3 {
    font-size: 50px;
    margin: 50px 0 10px 0;
}

.text-banner p {
    font-size: 18px;
}
